* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(rgb(0, 115, 255), white);
  text-align: center;
}

header {
  background: url(assets/cecep-rahmat-jLeznOrK3UQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 50px;
  opacity: 100%;
}
header p {
  font-size: 22px;
  opacity: 100%;
}
/* Add IMG to Event Info Section */
.gallery{
  display: flex;
  justify-content: space-evenly;
}

img{
  width: 450px;
  height: auto;
}

.full-content{
  padding: 50px;
}

.form{
  padding: 20px;
}

ul{
  text-align: center;
  list-style-position:inside ;
}